.index__front--btn {
    border: 1px solid $purple;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;
    background-color: transparent;
    color: $purple;
    &::before {
        border-radius: 50%;
    }

    &:visited, &:hover {
        color: $orange;
        background-color: $purple;
    }
}