.comp{
    width: 100%;
    text-align: center;
   
}

.monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5rem;
    height: 18.1rem;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    padding: 9px;
    border: solid 1px $grisclaro;
    background: linear-gradient(to right bottom, #fe8c00, #fe8c00);
}