.gridBox {


    
    padding: 2rem;

 &--title {
     font-size: 2rem;
     text-decoration: none;
     color: $orange;
     margin-bottom: 1rem;
 }   


&--picture {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    
}

 &--link * {

    &:hover, :visited {
        color: $purple;
    }
 }

 &__hover {
    border-top: .5px solid $orange;
    border-right: .5px solid $orange;
    border-bottom: .5px solid $orange;  
     &:hover, &:visited {
        transition: all .8s cubic-bezier(.67,-0.78,.1,1.54);
        transform: scale(1.1);
         background-color: $orange;
         border: .5px solid $orange;
         box-shadow: 0 2rem 5rem rgba(0,0,0,0.8);
    

         > a > * {
           transition: all .8s cubic-bezier(.67,-0.78,.1,1.54);
           fill: currentColor;
           color: $purple;
         }
     }
    
 }

    
 &--icon {
     height: 3rem;
     width: 3rem;
     fill: $orange;
 }

 &--description {
     font-size: 1.3rem;
     text-align: justify;
     text-justify: auto;
     color: $bonewhite;
     //display: none;
 }

 &--column {
   
 
 }
}

