{	"plugins": [
	["prismjs", {
		"languages": [
		  "json"
		],
		"plugins": ["line-numbers"],
		"theme": "okaidia",
		"css": true
	}]
  ],
	
	"presets": [

		["env", {

			"targets": {

				"browsers": [

				"last 1 versions"
				// "ie >= 8"

				]

			}

		}]
	]
}