.picture {

    &__frame {
        margin: 1rem;
        border: .7rem solid rgb(102, 65, 56);
        background-color: white;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        box-shadow: 1px 1rem 0rem rgba(0,0,0,.8);

    }

    &__icon {
        height: 3rem;
        width: 3rem;
    }
}