.white {
    color: $bonewhite
}

.orange {
    color: $orange;
}

.large {
    font-size: 5rem;
}

.medium {
    font-size: 3rem;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
}