$bonewhite : #dedef9;
$orange : #fe8c00;
$navyblue: rgba(8, 7, 76, .8);
$purple: #0b0b28;
$mainblack: #22262b;
$amain: #fbb053;
$grisclaro: #e0e2e2;
$display: #abadc6;
$item: #d1c9bf;
$codred: #ac5e47;


//media queries
$bp-largest: 84.375em; //1200px / 16
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //720
$bp-small:30em;
$bp-extrasmall:20em;

