$bonewhite : #dedef9;
$orange : #fe8c00;
$navyblue: rgba(8, 7, 76, .8);

//media queries
$bp-largest: 75em; //1200px / 16
$bp-large: 50em;
$bp-medium: 38.75em;

$bg-color: #00b359;
$wb-color: #f2f2f2;
$wb-bdr-color: #adb2bd;
$wb-shadow: #404040;
$wb-font-color: #1f75fe;
$eraser: #2929a3;
$redpen: #FD7C6E;
$redpen-shadow: #fc604f;
$bluepen: #1f75fe;
$bluepen-shadow: #014ecb;